@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

* {
    margin: 0%;
    margin-top: 0%;
}

#login a {
    text-decoration: none;
}

#login a:visited {
    color: rgb(0, 0, 0);
}

#login a:link {
    color: rgb(0, 0, 0);
}

#login a:hover {
    color: orange;
}

.redesSociais {
    display: flex;
    justify-content: right;
    margin: 1%;
}

.redesSociaisImg {
    margin-right: 2px;
}

.senacLogo {
    width: 15%;
    height: 8%;
    padding: 0.5%;
}

.rodape {
    background-image: linear-gradient(white, blue);
    color: white;
    text-align: center;
    padding: 1%;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
}

/*Aqui para baixo e o menu*/
#menu {
    width: 100%;
    height: 40px;
    background-color: blue;
    font-family: Arial;
}

#menu ul {
    list-style: none;
    position: relative;
}

#menu ul li {
    width: 150px;
    float: left;
}

#menu a {
    padding: 11px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
}

#menu ul ul {
    position: absolute;
    visibility: hidden;
}

#menu ul li:hover ul {
    visibility: visible;
}

#menu a:hover {
    background-color: blue;
    color: orange;
}

#menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

/* ---Formatando o caracter utilizado para fazer o botão do menu--- */
label[for="bt_menu"] {
    padding: 5px;
    background-color: blue;
    color: #fff;
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
}

/* ---Tirar o troço do lado do botão do caracter--- */
#bt_menu {
    display: none;
}

/* ---Utilizar ele apenas em tamanhos pré determinados--- */
label[for="bt_menu"] {
    display: none;
}

/* ---Determinando em qual scala o botão vai aparecer--- */
@media(max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }
}

/* ---Aplicando em todos elementos do menu as configurações deste elemento--- */
#bt_menu:checked~#menu {
    margin-left: 0;
    height: auto;
}

@media (max-width: 800px) {
    #menu {
        margin-left: -100%;
        /* ---Utilizar o caracter - pode diminuir o tamanho de algooooo !!!!!!!!!!!--- */
        transition: all 1s;
        height: auto;
    }

    #menu ul li {
        width: 100%;
        float: none;
    }

    #menu ul ul {
        position: static;
        overflow: hidden;
        /* ---Menu não aparece--- */
        max-height: 0;
        transition: all 4s;
    }

    #menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }

    .rodape {
        background-image: linear-gradient(white, blue);
        color: white;
        text-align: center;
        padding: 5%;
        font-size: large;
        font-family: 'Ubuntu', sans-serif;

    }

    .removendo_propaganda_1 {
        display: none;
    }

    .redesSociais {
        display: flex;
        justify-content: right;
        margin-top: -30%;
    }

    .ajustando_propagandas{
        width: 100%;
        height: auto;
    }

    .ajustando_margin_media{
        margin: 2%;
    }
}