@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*Predefinindo alguns comandos no body do html*/
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

/*Retirando os cantos da tela*/
* {
    margin: 0%;
    margin-top: 0%;
}

/*Tirando o sublinhado dos href*/
a {
    text-decoration: none;
}

#login a {
    text-decoration: none;
}

#login a:visited {
    color: rgb(0, 0, 0);
}

#login a:link {
    color: rgb(0, 0, 0);
}

#login a:hover {
    color: orange;
}

/*Configurando os botões do menu*/
.barraInicioCursoLoc {
    background-color: orange;
    padding: 0.8%;
    color: white;
    text-align: center;
}

/*Alinhando os icones da redes socias*/
.redesSociais {
    display: flex;
    justify-content: right;
}

/*Espaçamento entre os icones das redes sociais*/
.redesSociaisImg {
    margin-right: 2px;
}

/*Logo do cabeçalho*/
.senacLogo {
    width: 15%;
    height: 8%;
    padding: 0.5%;
}

/*Configurando o footer da pagina*/
.rodape {
    background-image: linear-gradient(white, blue);
    padding: 1.5%;
    text-align: center;
    color: white;
}

/*Configurando o conteudo do fale conosco*/
.faleConoscoConteudo {
    text-align: center;
    color: black;
    margin-top: 8%;
}

/*Colocando o botão enviar para direita*/
.posicao_do_botao_enviar {
    text-align: right;
}

/*Mudando a cor do conheca a politica*/
.cor_do_conheca_politica {
    color: black;
    margin-top: 10%;
}

/**/
.alinhando_conteudo {
    display: flex;
    justify-content: center;
    text-align: center;
    }

/*Responsividade da pagina*/
@media screen and (max-width: 800px) {

    /*Arrumando o footer da pagina*/
    .rodape {
        background-image: linear-gradient(white, blue);
        padding: 5%;
        text-align: center;
        color: white;
        font-size: large;
    }

    /**/
    .faleConoscoConteudo {
        margin-top: -45%;
    }

    /*Centralizando o botao enviar*/
    .posicao_do_botao_enviar {
        text-align: center;
    }

    /*Redimensionando o logo do senac*/
    .senacLogo {
        width: 40%;
        padding: 1%;
    }

    /*Redimensionando os icones das redes sociais*/
    .redesSociaisImg {
        margin-right: 0%;
        width: 88%;
    }

}

/*Aqui para baixo e o menu*/
#menu {
    width: 100%;
    height: 40px;
    background-color: blue;
    font-family: Arial;
}

#menu ul {
    list-style: none;
    position: relative;
}

#menu ul li {
    width: 150px;
    float: left;
}

#menu a {
    padding: 11px;
    display: block;
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: white;
}

#menu ul ul {
    position: absolute;
    visibility: hidden;
}

#menu ul li:hover ul {
    visibility: visible;
}

#menu a:hover {
    background-color: blue;
    color: orange;
}

#menu ul ul li {
    float: none;
    border-bottom: solid 1px #ccc;
}

/* ---Formatando o caracter utilizado para fazer o botão do menu--- */
label[for="bt_menu"] {
    padding: 5px;
    background-color: blue;
    color: #fff;
    text-align: left;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
}

/* ---Tirar o troço do lado do botão do caracter--- */
#bt_menu {
    display: none;
}

/* ---Utilizar ele apenas em tamanhos pré determinados--- */
label[for="bt_menu"] {
    display: none;
}

/* ---Determinando em qual scala o botão vai aparecer--- */
@media(max-width: 800px) {
    label[for="bt_menu"] {
        display: block;
    }
}

/* ---Aplicando em todos elementos do menu as configurações deste elemento--- */
#bt_menu:checked~#menu {
    margin-left: 0;
    height: auto;
}

@media (max-width: 800px) {
    #menu {
        margin-left: -100%;
        /* ---Utilizar o caracter - pode diminuir o tamanho de algooooo !!!!!!!!!!!--- */
        transition: all 1s;
        height: auto;
    }

    #menu ul li {
        width: 100%;
        float: none;
    }

    #menu ul ul {
        position: static;
        overflow: hidden;
        /* ---Menu não aparece--- */
        max-height: 0;
        transition: all 4s;
    }

    #menu ul li:hover ul {
        height: auto;
        max-height: 200px;
    }
    tr{
        display: flex;
        flex-direction: column;
    }
}